@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

html {
  margin: 0;
  padding: 0;
}

html body {
  margin: 0;
  overflow-x: hidden;
  padding: 0.75rem 2rem;
  font-family: Roboto, serif;
  font-size: 0.875rem;
  --text-opacity: 1;
  color: #2d3748;
  color: rgba(45, 55, 72, var(--text-opacity));
}

@media (max-width: 639px) {
  html body {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.content {
  border-radius: 30px;
  min-width: 0;
  min-height: 100vh;
  --bg-opacity: 1;
  background-color: #F1F5F8;
  background-color: rgba(241, 245, 248, var(--bg-opacity));
  flex: 1 1 0;
  padding: 0 22px 2.5rem;
}